<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-5 shadow-sm border-0">
      <h2 class="fw-bold mb-4">Modifier mon profil</h2>
      
      <%= form_tag user_path(@user), method: :patch do %>
        <div class="mb-3">
          <label class="form-label fw-bold">Prénom</label>
          <%= text_field_tag :first_name, @user.first_name, class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <label class="form-label fw-bold">Nom</label>
          <%= text_field_tag :last_name, @user.last_name, class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <label class="form-label fw-bold">Âge</label>
          <%= number_field_tag :age, @user.age, class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <label class="form-label fw-bold">Bio</label>
          <%= text_area_tag :description, @user.description, class: "form-control", rows: 4 %>
        </div>
        
        <div class="d-flex justify-content-between align-items-center mt-4">
          <%= link_to "Annuler", user_path(@user), class: "text-muted" %>
          <%= submit_tag "Enregistrer les changements", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>